.container {
  max-width: 1000px;
  padding: 2rem;
}

h1 {
  text-align: center;
}

.filters {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  margin-bottom: 2rem;
}

.category, .tags {
  display: flex;
  flex-direction: column;
  gap: 2px
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.product-card {
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-card img {
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card .description {
  font-size: 14px;
  color: #6e6e6e;
  margin-bottom: 1rem;
}

.product-card .meta {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-card .tag {
  display: inline-block;
  background: #eaeaea;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 14px;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
}